body{
    margin:30px;
  font-family: Verdana, Geneva, Tahoma, sans-ser;
  padding: 100px;;
}
.avatar{
    width: 150px;
    padding: 20px;

}
.card{
    /* background-color:rgb(255,238,71); */
    width: 550px;
    /* background: radial-gradient(circle, #fff3e0, #ffe0b2); */

     background: linear-gradient(to right, #ffe4b5, #ffdead);
    /* align-content: center; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background:rgb(251, 230, 180);
    border-bottom: 7px solid rgb(212, 154, 136);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.side{
    text-align: left;
}
.otherthanimg{
    padding: 20px;
    text-decoration: #2b2839;

}